<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.snow.min.css">
<div class="container">
	<div class="row">
		<div class="col-md-5">
			<form [formGroup]="createKnowledgeForm" (submit)="createKnowledge()">
				<h3>Create Knowledge</h3>
				<br>
				<input type="text" [formControl]="title" class="form-control" placeholder="title">
				<br>
				<!-- adding tags -->
				<div class="tags-controls">
					<input type="text" [formControl]="tags" class="form-control" placeholder="tags">
					<i class="material-icons" (click)="addTag()" >add_circle_outline</i>
				</div>
				<br>

				<br>
				<!-- tags -->
				<div class="tags-container">
					<div class="tag" *ngFor="let tag of tagsList">
						<span> {{tag}}</span>
						<i>X</i>
					</div>
				</div>
				<br>
				<textarea type="text" [formControl]="description" class="form-control" placeholder="description"></textarea>
				<br>

				<quill-editor class="editor" [formControl]="editor"> </quill-editor>

				<input type="submit" class="btn btn-success">


			</form>
		</div>
		<div class="col-md-5"></div>
	</div>
</div>
