
form{
    display: flex;
    flex-direction: column;
}

#employees {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#employees td, #employees th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#employees tr:nth-child(even){background-color: #f2f2f2;}
  
#employees tr:hover {
    background-color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.01);

}
  
#employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.spinner{
    text-align: center;
}

.view-icon{
    cursor: pointer;
}