<div class="container content">
    <h1 class="text-center post-title">{{ post.title}}</h1>
        <div class="row">
            <div class="col text-left">
                <p>{{ post.postedOn }}</p>
            </div>
            <div class="col text-right">
                <p> {{ post.user }} </p>
            </div>
        </div>

        <div class="post-content" [innerHTML]="post.content">
    </div>
    <hr>
    <div class="container">
            <h2>Comments</h2> 
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="commentForm">
                    <input placeholder="Place a comment" formControlName="body" class="form-control" type="text">
                    <div class="comment-controls">
                        <button class="btn btn-danger" (click)="cancelComment()">Cancel</button>
                        <button class="btn btn-success" (click)="postComment()" >Comment</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="comments">
            <div *ngFor="let comment of post.comments" class="comment">
                <h5> {{ comment.user }} </h5>
                <h6>{{ comment.body }}</h6>
                <p>{{ comment.postedOn}}</p>
            </div>
        </div>
    </div>
</div>
