<ul class="nav">
    <li class="dropdown">
        <a routerLink="/admin/dashboard" class="item">Dashboard </a>
    </li>
    <li class="dropdown">
        <a class="item">Employees <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-content">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/employee/create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/employee/search">Search</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="item">Users <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-content">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/user/create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/user/search">Search</a>
            </li>
        </ul>
    </li>
</ul>
