.content{
    margin-top: 40px;
}

.reset{
    position: relative;
    left: 370px;
    top: 5px;
}

.reset:hover{
    cursor: pointer;
}

.input-container{
    display: flex;
    flex-direction: column;
}

button{
    background-color: #5cb85c; 
    color: white;
}
