<app-header></app-header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
    <div class="row content">
            <div class="col-md-5">
                <form [formGroup]="signinForm">
                    <h3>Signin form</h3>
                    <br>

                    <div class="input-container">
                        <mat-form-field>
                            <input matInput placeholder="Email" name="email" [formControl]="email" required>
                        </mat-form-field>
                
                        <br>

                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" [formControl]="password" required>
                        </mat-form-field>
                    </div>

                    <br>

                    <!-- message -->
                    <div *ngIf="message" class="alert alert-danger">
                        {{message}}
                    </div>

                    <br>

                    <!-- Signin button -->
                    <button mat-raised-button type="submit" (click)="login()">login</button>
                    <span class="glyphicon reset" (click)="signinForm.reset()">&#xe031;</span>
                </form>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <app-signup></app-signup>
            </div>
    </div>
</div>