<div class="container content">
    <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
        <legend><b>Create Post</b></legend>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" formControlName="title" class="form-control" minlength="3">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" formControlName="description" class="form-control" minlength="3">
                </div>
            </div>
        </div>

        
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" formControlName="content" placeholder="Enter body" minlength="3"></textarea>

        </div>

        <div class="row">
            <div class="col">
                <div class="custom-file">
                    <input type="file" placeholder='imgName' formContolName="img" class="custom-file-input" id="customFile" accept="image/*" (change)="handleImageInput($event.target.value)">
                    <label class="custom-file-label" for="customFile"></label>
                </div>
            </div>
            <div class="col">{{ imgName }}</div>
            <div class="col"></div>
        </div>
        <br>

        <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
            <div *ngIf="title.errors.minlength" >Title is too short</div>
            <div *ngIf="title.errors.required" >Title is required</div>
        </div>

        <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
            <div *ngIf="description.errors.minlength" >Description is too short</div>
            <div *ngIf="description.errors.required" >Description is required</div>
        </div>

        <div *ngIf="content.touched && content.invalid" class="alert alert-danger">
            <div *ngIf="content.errors.minlength" >Content is too short</div>
            <div *ngIf="content.errors.required" >content is required</div>
        </div>

        <div *ngIf="errMsg" class="alert alert-danger" role="alert">
            {{errMsg}}
        </div>
        <div *ngIf="msg" class="alert alert-success" role="alert">
            {{msg}}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!createPostForm.valid">Post</button>
        </div>

    </form>
</div>
