<div class="container content">
    <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
        <legend><b>Create Post</b></legend>

        <div class="form-group">
            <label>Title:</label>
            <input formControlName="title" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Description:</label>
            <input formControlName="description" type="text" class="form-control">
        </div>
        <br>
        <quill-editor formControlName="content" [styles]="{height: '200px'}"></quill-editor>
        <button class="btn btn-success" (click)="submitPost">Post</button>
    </form>

    <div *ngIf="errMsg" class="alert alert-danger">
        {{errMsg}}
    </div>
    <div *ngIf="msg" class="alert alert-success">
        {{msg}}
    </div>
</div>
