<div class="container content">
    <div class="row">
        <div class="col-md-12 flex-container">
            <app-employee-card class="card hoverable"></app-employee-card>
            <app-user-card class="card"></app-user-card>
            <app-task-card class="card"></app-task-card>
            <app-inventory-card class="card"></app-inventory-card>
            <app-blog-card class="card"></app-blog-card>
            <app-department-card class="card"></app-department-card>
            <!-- <app-card class="card" [title]="departmentTitle" [item1]="depItem"></app-card> -->
        </div>
    </div>
    <br>
</div>
