.content{
    margin-top: 50px;
}

legend{
    font-weight: bold;
}

.country-control{
    width: 100%;
}

.input-container{
    display: flex;
    flex-direction: column;
}

mat-radio-button ~ mat-radio-button {
    margin-left: 16px;
}