<div class="nav-container">
    <div class="container">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link" >Employees <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-content">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/employee/create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/employee/search">Search</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link">Users <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-content">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/user/create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/user/search">Search</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" routerLink="/admin/inventory/dashboard">Inventory <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-content">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/inventory/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/inventory/warehouses">Warehouses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/inventory/employees">Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/inventory/formulas">Formulas</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" routerLink="/admin/inventory/dashboard">KB <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-content">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/blog/create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/blog/myBlog">My Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/blog/allBlogs">Other Blogs</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/task">Tasks</a>
            </li>
        </ul>
    </div>
</div>
