.card{
    padding: 20px;
    background-color: #F6FAFB;
    /* background-color: #5cb85c; */
    /* background-color: grey; */

    /* color: white; */
    color: black;

    border-radius: 5px;

    cursor: default;
    height: 122px;
    width: 250px;
    height: fit-content;
} 

.title{
    font-size: 18px;
    font-weight: bold;
}

.card-item{
    font-size: 14px;
    position: relative;
}

.card:hover{
    cursor: pointer;
}

.item1{
    font-size: 18px;
    position: relative;
}

