.content{
    margin-top: 10%;
}
h1{
    font-size: 10pc;
    text-align: center;
    font-weight: bold;
}

h2{
    text-align: center;
}

.status{
    font-weight: bold;
}

.text-content{
    margin-top: 5%;
}