<div class="container">
	<div class="row content">
		<div class="col-md-5">
			<form name="search" [formGroup]="searchEmployeeForm" (ngSubmit)="searchEmployee()">
				<mat-form-field>
					<mat-label>Search By </mat-label>
					<mat-select [formControl]="field">
						<mat-option *ngFor="let field of fields" [value]="field">
							{{field}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" [formControl]="fieldValue" required>
				</mat-form-field>

				<div *ngIf="fieldValue.invalid && (fieldValue.dirty || fieldValue.touched)" class="alert alert-danger">
					<div *ngIf="fieldValue.errors.email">
						not an email!
					</div>
					<div *ngIf="fieldValue.errors.required">
						required!
					</div>
				</div>
				<br>
				<button class="btn btn-success" type="submit" [disabled]="!searchEmployeeForm.valid">Search</button>
			</form>
		</div>
		<div class="col-md-5"></div>
		<div class="col-md-2"></div>
	</div>
</div>


<br>
<br>
<br>

<div class="container">
	<!-- Spinner -->
	<div class="row" *ngIf="looking">
		<div class="col-md-5"></div>
		<div class="col-md-2">
			<mat-spinner></mat-spinner>
		</div>
		<div class="col-md-5"></div>
	</div>
	<!-- Spinner end -->

	<!-- Filters -->
	<div *ngIf="targetEmployee || singleEmployee" class="row">
		<div class="col-md-12">
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="firstNameChkbx" value="firstName" (change)="firstNameChkbx($event)" checked>
				<label class="form-check-label" for="firstNameChkbx">First Name</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="lastNameChkbx" value="lastName" (change)="lastNameChkbx($event)" checked>
				<label class="form-check-label" for="lastNameChkbx">Last Name</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="emailChkbx" value="email" (change)="emailChkbx($event)" checked>
				<label class="form-check-label" for="emailChkbx">Email</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="countryChkbx" (change)="countryChkbx($event)" value="country">
				<label class="form-check-label" for="countryChkbx">Country</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="cityChkbx" (change)="cityChkbx($event)" value="city">
				<label class="form-check-label" for="cityChkbx">City</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="phoneNumberChkbx" (change)="phoneNumberChkbx($event)" value="phoneNumber">
				<label class="form-check-label" for="phoneNumberChkbx">Phone Number</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="genderChkbx" (change)="genderChkbx($event)" value="gender">
				<label class="form-check-label" for="genderChkbx">Gender</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="jobTitleChkbx" (change)="jobTitleChkbx($event)" value="jobTitle">
				<label class="form-check-label" for="jobTitleChkbx">Job Title</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="departmentChkbx" (change)="departmentChkbx($event)" value="department">
				<label class="form-check-label" for="departmentChkbx">Department</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="universityChkbx" (change)="universityChkbx($event)" value="university">
				<label class="form-check-label" for="universityChkbx">University</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="salaryChkbx" (change)="salaryChkbx($event)" value="salary">
				<label class="form-check-label" for="salaryChkbx">Salary</label>
			</div>
		</div>
	</div>

	<div class="row">
		<!-- employee card -->
		<div class="col-md-8">
			<h4> {{errMsg}} </h4>
			<h4 *ngIf="targetEmployee"> Showing {{ targetEmployee.length }} results</h4>
			<h4 *ngIf="singleEmployee"> Showing 1 result</h4>
			<table *ngIf="targetEmployee || singleEmployee" id="employees">
				<tr>
					<th *ngIf="showFirstName">First Name</th>
					<th *ngIf="showLastName">Last Name </th>
					<th *ngIf="showEmail">Email</th>
					<th *ngIf="showGender">Gender</th>
					<th *ngIf="showJobTitle">Job Title</th>
					<th *ngIf="showDepartment">Department</th>
					<th *ngIf="showCountry">Country</th>
					<th *ngIf="showCity">City</th>
					<th *ngIf="showAddress">Address</th>
					<th *ngIf="showPhoneNumber">Phone #</th>
					<th *ngIf="showUniversity">University</th>
					<th *ngIf="showSalary">Salary</th>
					<th>View</th>
				</tr>
				<tr *ngIf="singleEmployee">
					<td *ngIf="showFirstName">{{singleEmployee.first_name}}</td>
					<td *ngIf="showLastName">{{singleEmployee.last_name}}</td>
					<td *ngIf="showEmail">{{singleEmployee.email}}</td>
					<td *ngIf="showGender">{{singleEmployee.gender}}</td>
					<td *ngIf="showJobTitle">{{singleEmployee.job_title}}</td>
					<td *ngIf="showDepartment">{{singleEmployee.department}}</td>
					<td *ngIf="showCountry">{{singleEmployee.country}}</td>
					<td *ngIf="showCity">{{singleEmployee.city}}</td>
					<td *ngIf="showAddress">{{singleEmployee.street_address}}</td>
					<td *ngIf="showPhoneNumber">{{singleEmployee.phone_number}}</td>
					<td *ngIf="showUniversity">{{singleEmployee.university}}</td>
					<td *ngIf="showSalary">{{singleEmployee.salary}}</td>
					<td> <button class="btn btn-primary" (click)="viewProfile(singleEmployee.email)">View</button></td>
				</tr>
				<tr *ngFor="let employee of targetEmployee">
					<td *ngIf="showFirstName">{{employee.first_name}}</td>
					<td *ngIf="showLastName">{{employee.last_name}}</td>
					<td *ngIf="showEmail">{{employee.email}}</td>
					<td *ngIf="showGender">{{employee.gender}}</td>
					<td *ngIf="showJobTitle">{{employee.job_title}}</td>
					<td *ngIf="showDepartment">{{employee.department}}</td>
					<td *ngIf="showCountry">{{employee.country}}</td>
					<td *ngIf="showCity">{{employee.city}}</td>
					<td *ngIf="showAddress">{{employee.street_address}}</td>
					<td *ngIf="showPhoneNumber">{{employee.phone_number}}</td>
					<td *ngIf="showUniversity">{{employee.university}}</td>
					<td *ngIf="showSalary">{{employee.salary}}</td>
					<td> <button class="btn btn-primary" (click)="viewProfile(employee.email)">View</button></td>
				</tr>
			</table>
			<!--<div class="col-md-6 card">
					<div *ngFor="let employee of targetEmployee" class="card-body">
						<p>{{employee.first_name}} {{employee.last_name}}</p>
						<button class="btn btn-primary" (click)="viewProfile(targetEmployee.email)">See profile</button>
						<a [routerLink]="['/admin/employee-details', targetEmployee.email]" class="btn btn-success">profile link</a>
					</div>
				</div>-->
		</div>
		<div class="col-md-4"></div>
	</div>

</div>

