.card{
    margin-top: 50px;
}

.content{
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

#employees {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#employees td, #employees th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#employees tr:nth-child(even){background-color: #f2f2f2;}
  
#employees tr:hover {
    background-color: #ddd;
    transform: scale(1.03);
}
  
#employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}