router-outlet{
    margin-top: 40px;
}

.active{
    color: red;
}

.header{
    height: 70px;
    background-color: #5cb85c;
}

.logo{
    font-size: 24px;
    color: white;
    font-weight: 600;
    position: relative;
    left: 50px;
    top: 15px;
}

.menu ul{
    margin-top: 20px;
    margin-right: 60px;
}

.menu ul li{
    display: inline;
}

.menu ul li:not(:last-child){
    margin-right: 20px;
}

.menu ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.menu ul li a:hover{
    color: black;
    transition-duration: 0.5s;
}

html, body {
    height: 100%;
    margin: 0;
}