.card{
    padding: 20px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    height: 122px;
}

.item1{
    font-size: 18px;
    position: relative;
}

.item2{
    position: relative;
    top: -20px;
    font-size: 18px;
}