.header{
    height: 50px;
    background-color: #5cb85c;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.logo{
    font-size: 24px;
    color: white;
    font-weight: 600;
    position: relative;
    left: 50px;
    top: 8px;
}

.menu ul{
    margin-top: 20px;
    margin-right: 60px;
}

.menu ul li{
    display: inline;
}

.menu ul li:not(:last-child){
    margin-right: 20px;
}

.menu ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.menu ul li a:hover{
    color: black;
    transition-duration: 0.5s;
}

/* USER MENU  */
svg{
    color: white;
    font-weight: 600;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 50px;
    top: 5px;
    cursor: pointer;
}

.button-container{
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 0px;
    color: white;
}

.button-container ul {
    width: fit-content;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


.button-container li {
    font-weight: bold;
    padding: 10px 20px;
}

.button-container li:hover{
    background-color: #ddd;
    color: black;
}

.button-container li a:hover {
    cursor: pointer;
    text-decoration: none;
}

.not-shown{
    display: none;
}

.shown{
    display: block;
}