table{
    width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 50px;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {
    background-color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.delete-btn{
    padding: 1px 4px;
}

.view-btn{
    padding: 1px 4px;
    margin-left: 10px;
}

#last-row{
    border: 2px solid green;
}

.error-msg {
    margin-top: -30px;
}


#pos-form {
    margin-top: 100px;
}

#pos-add-btn {
    position: relative;
    top: -3px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.selected-department{
    margin-top: 100px;
}

.team-cell:hover{
    cursor: pointer;
}

.head-cell{
    width: 10%;
}

.position-cell{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0xp;
    line-height: 10px;
}

.position-item{
    padding: 10px;
    max-width: 500px;
}

/* .position-item:hover{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid green;
} */

.action-cell{
    width: 13%;
}

.teamControls-container{
    border: 2px solid green;
    padding: 10px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
}

.teamControls-container input{
    width: 40%;
}

.positions-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
}

.positions-list span {
    padding: 0px 10px;
    margin: 5px 5px;
    cursor: pointer;
}

.position-input{
    width: 40%;
}
