<div class="container content">
    <div class="row">
        <div class="col-md-12 flex-container">
            <app-card class="card" [title]="title1" [data]="data1" [url]="url1"></app-card>
            <app-card class="card" [title]="title2" [data]="data2" [url]="url2"></app-card>
            <app-card class="card" [title]="title3" [data]="data3" [url]="url3"></app-card>
            <app-card class="card" [title]="title4" [data]="data4" [url]="url4"></app-card>
            <app-card class="card" [title]="title5" [data]="data5" [url]="url4"></app-card>
            <app-card class="card" [title]="title6" [data]="data6" [url]="url6"></app-card>
        </div>
    </div>
    <br>
</div>
