<div class="container content">
    <div class="row">
        <div class="flex-container">
            <div class="card">
                <div class="title">
                    Employees
                </div>
                <div class="num">200</div>
            </div>
            <div class="card">
                <div class="title">Warehouses</div>
                <div class="num">4</div>
            </div>
            <div class="card">
                <div class="title">Products</div>
                <div class="num">4231</div>
            </div>
            <div class="card">
                <div class="title">Orders</div>
                <div class="num">301</div>
            </div>
        </div>
    </div>

</div>