*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #F3F7F7;
}

nav{
    padding-top: 10px;
}

nav ul li{
    list-style-type: none;
    display: inline;
}

nav ul li:not(:first-child){
    margin-left: 20px;
}

nav a:hover{
    text-decoration: none;
}

.ck-editor__editable_inline {
    min-height: 500px;
}