<div class="container-fluid header">
    <div class="row">
        <div class="col-md-2 logo">LOGO</div>
        <div class="col-md-6">
            <span class="glyphicon glyphicon-user">{{user}}</span>
        </div>
        <div class="col-md-4 menu">
            <ul>
                <li><a routerLink="/admin/employee" routerLinkActive="active current">Employee</a></li>
                <li><a routerLink="/admin/knowledge" routerLinkActive="active current">Knowledge</a></li>
                <li><a routerLink="/admin" routerLinkActive="active current">Dashboard</a></li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>