<div class="blog content">
    <div class="container">
        <ul *ngFor="let post of allArticles;  let i = index">

            <div class="blog-image">
                <a [routerLink]="" [queryParams]=""><img src="" height=200px width=200px></a>
            </div>
            <a [routerLink]="" [queryParams]="">
                <h3>{{ post.title }}</h3>
            </a>
            <p>Author: {{ post.user }}</p>

            <div class="blog-content">
                <p [innerHTML]="sdasdadasd"></p>
                <a class="btn btn-success" [routerLink]="" [queryParams]="">Readmore...</a>
            </div>
        </ul>
    </div>
</div>
