<ul class="nav">
    <li class="dropdown">
        <a routerLink="/admin/dashboard" class="item">Dashboard </a>
    </li>
    <li class="dropdown">
        <a class="item">E-Requests </a>
    </li>
    <li class="dropdown">
        <a class="item">Forms </a>
    </li>
    <li class="dropdown">
        <a class="item">News/Blog </a>
    </li>
    <li class="dropdown">
        <a class="item">Events</a>
    </li>
    <li class="dropdown">
        <a class="item">Tasks </a>
    </li>
    <li class="dropdown">
        <a class="item">Self-Service Center </a>
    </li>
</ul>
