<form [formGroup]="signupForm">
    <h3>Create new account</h3>
    <br>

    <div class="input-container">
        <mat-form-field>
            <input matInput type="text" placeholder="First Name" [formControl]="firstName">
        </mat-form-field>

        <br>

        <mat-form-field>
            <input matInput type="text" placeholder="Last Name" [formControl]="lastName">
        </mat-form-field>

        <br>

        <mat-form-field>
            <input matInput type="email" placeholder="Email" [formControl]="email">
        </mat-form-field>

        <br>

        <mat-form-field>
            <input matInput type="password" placeholder="Password" [formControl]="password">
        </mat-form-field>

        <br>
    </div>

    <br>

    <button mat-raised-button type="submit" (click)="signup()">Signup</button>
    
</form>