<div class="container content">
    <div class="row">
        <div class="col-md-5">
            <form name="searchKnowledge">
                <mat-form-field>
                    <mat-label>Search By </mat-label>
                    <mat-select [formControl]="field">
                        <mat-option *ngFor="let field of fields" [value]="field">
                            {{field}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <br>

                <mat-form-field>
                    <input matInput type="text" [formControl]="empEmail" required>
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5"></div>
    </div>
</div>