<div class="content">
    <div class="container">

        <div class="curr-location">
            <a routerLink="/admin/dashboard"> Dashboard </a> > <a routerLink="/admin/employee/dashboard">Employee </a>
        </div>

        <legend>Overview</legend>

        <div class="flex-container">
            <app-card [title]="card1Title" [data]="card1Data"></app-card>
            <app-card [title]="card2Title" [data]="card2Data"></app-card>
            <app-card [title]="card3Title" [data]="card3Data"></app-card>
            <app-card [title]="card4Title" [data]="card4Data"></app-card>
            <app-card [title]="card5Title" [data]="card5Data"></app-card>
            <app-card [title]="card6Title" [data]="card6Data"></app-card>
        </div>

        <br>
        <br>

    </div>
</div>
