<app-navbar></app-navbar>

<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="taskForm" (ngSubmit)="createTask()">
                <div class="form-group">
                    <label>Task:</label>
                    <input type="text" formControlName="task" class="form-control" required>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Project: </label>
                        <input type="text" class="form-control" placeholder="Personal" aria-label="First name"
                            formControlName="project">
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Due date: </label>
                            <input matInput [matDatepicker]="picker" formControlName="dueDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>

                        </div>
                    </div>
                </div>

                <!-- Error messages -->
                <div *ngIf="errMsg" class="alert alert-danger" role="alert">
                    {{errMsg}}
                </div>
                <div *ngIf="msg" class="alert alert-success" role="alert">
                    {{msg}}
                </div>

                <button type="submit" class="btn btn-success createBtn"> + </button>
            </form>

        </div>
        <div class="col-md-6">
            <ul>
                <li class="task-item" *ngFor="let task of tasks; let idx = index">
                    <span class="more" (click)="show(idx)" [@rotateDetails]="showDetailsAnim[idx] ? 'open' : 'close'" >></span>{{task.name}}
                    <div class="item-details" *ngIf="showDetails[idx]">
                        <div class="row">
                            <div class="col">
                                <label>Project</label>
                            </div>
                            <div class="col">
                                <label>Due Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" [(ngModel)]="task.project" readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" [(ngModel)]="task.dueDate" readonly>
                            </div>
                        </div>
                    </div>
                    <span class="delete" (click)="deleteTask(task._id, idx)"> x</span>
                </li>

            </ul>
        </div>
    </div>
</div>

