.content {
    margin-top: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

.task-item {
    list-style-type: none;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

.more{
    position: relative;
    left: -4%;
    cursor: pointer;
    color:red;
}

.more:focus i{
    animation: rotate 1s ease-in-out 0s;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.delete{
    cursor: pointer;
    position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.item-details{
    margin-top: 1%;
    position: relative;
    left: -3%;
}